extends layout

block content
    h1= title

    // Wrapper
    #wrapper

        // CHAT WRAPPER
        #chatWrapper
            // ROOM LIST
            #roomList
                h2 Rooms
                select
                ul
            // /ROOM LIST

            // CHAT ROOM
            #chatRoom
                p
                button#btnSendMessage Send
                #messageBar
                    input
            // /CHAT ROOM
        // /CHAT WRAPPER

        // ADD USER
        #addUser
            h2 Add User
            fieldset
                input#inputUserName(type='text', placeholder='Username')
                button#btnAddUser Add User
        // /ADD USER



    // /WRAPPER