body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
	margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}

#wrapper {
	position:relative;
}

#roomList {
	float: left;
}

#addUser {
	clear: both;
}

#chatRoom {
	float: left;
}

#roomList, #chatRoom {
	margin-bottom: 10px;
}

#chatRoom p {
	margin-top: 34px;
	width: 500px;
	margin-bottom: -21px;
}
#chatRoom #messageBar {
	overflow: hidden;
}
#chatRoom #messageBar input {
	width: 100%;
}
#chatRoom #btnSendMessage {
	float: right;
}

#roomList select {
	width: 100%;
}
#roomList ul {
	width:150px;
	margin-top: -19px;
}
	#roomList ul, #chatRoom p {
		padding:15px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);
		height: 200px;
	}

fieldset {
	border:0;
	padding:0; margin:0;
}